*{
    margin: 0;
    padding: 0;
}

div{
    background-color: black;

}
a{
    color: white;
    font-size: 28px;
    text-decoration: none;
    padding:  16px;
}
a:hover{
    background-color: red;
    color: black;
    padding: 14px;
}
