nav ul{
    display: flex;
    list-style:none ;
    margin: 0;
    padding: 0;
    background-color: purple;
}
nav ul li{
    margin: 0;
}
nav ul a {
    color: aliceblue;
    padding: 35px 45px;
    text-decoration: none;
    font-size: 28px;
}
nav ul a:hover{
    color: aqua;
    background-color: aliceblue;
}