*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    background-image: url(image/bg.png);
    background-size: cover;
    background-position: center;
}
section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0  0 10px #089da1;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}
section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}
section nav ul{
    list-style: none;
}
section nav ul li{
    display: inline-block;
    padding: 0 10px;
}
section nav li a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}
section nav li a:hover{
    color: #089da1;
}
section nav .social-icon i{
    margin: 0 5px;
    font-size: 18px;
}
section nav .social-icon i:hover{
    cursor: pointer;
    color: #089da1;
}
section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}
section .main h1{
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;
}
section .main h1 span{
    color: #089da1;
}
section .main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
}
section .main .main-tag .main-btn{
    background-color: #089da1;
    padding: 10px 20px;
    position: relative;
    top: 200px;
    left: 25px;
    color: white;
    text-decoration: none;
}
section .main .main-img img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
}
section .main .main-tag .main-btn:hover{
    background-color: #00f7ff;
}
.services{
    width: 100%;
    height: auto;
    margin: 35px 0;
}
.services .services-box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.services .services-box .services-card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px #089da1;
    padding: 15px 10px;
}
.services .services-box .services-card i{
    color: #089da1;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}
.services .services-box .services-card h3{
    margin-bottom: 10px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 0;
    margin: 0;
}
.about .about-image img{
     width: 700px;
}
.about .about-tag h1{
    font-size: 50px;
    position: relative;
    margin-bottom: 35px;
}
.about .about-tag p{
    line-height: 22px;
    width: 650px;
    text-align: justify;
    margin-bottom: 15px;
}
.about .about-tag .about-btn{
    padding: 10px 20px;
    background-color: #089da1;
    position: relative;
    top: 50px;
    text-decoration: none;
    color: white;
}
.about .about-tag .about-btn:hover{
    background-color: #00f7ff;
}




.featured-boks{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.featured-boks h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}
.featured-boks .featured-book-box{
    width: 95%;
    height: 70vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    overflow: hidden;
    overflow-x:scroll ;
}
.featured-boks .featured-book-box .featured-book-card{
    width: 250px;
    height: 420px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}
.featured-boks .featured-book-box .featured-book-card:hover{
    box-shadow: 0 0 5px #089da1;
}
.featured-boks .featured-book-box .featured-book-card .featurde-book-img img{
    width: 150px;
}
.featured-boks .featured-book-box .featured-book-card .featurde-book-tag h2{
    margin: 12px;
}
.featured-boks .featured-book-box .featured-book-card .featurde-book-tag .writer{
    color: #919191;
}
.featured-boks .featured-book-box .featured-book-card .featurde-book-tag .categories{
    color: #089da1;
    margin-top: 8px;
}
.featured-boks .featured-book-box .featured-book-card .featurde-book-tag .book-price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}
.featured-boks .featured-book-box .featured-book-card .featurde-book-tag .book-price sub{
    font-weight: 100;
    padding: 0 5px;
}
.featured-boks .featured-book-box .featured-book-card .featurde-book-tag .f-btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb{
    background-color: #089da1;
    border-radius: 10px;
}





/*arrivals*/

.arrivals{
    width: 100%;
    height: 100vh;
    margin-bottom: 35px;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}

.arrivals .arrivals_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.arrivals .arrivals_box .arrivals_card{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: queen of camelot;
    font-size: 20px;
    margin: 8px 0;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
    color: #089da1;
    margin-bottom: 18px;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}


.order{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    margin-top: 150px;
    background-image: url(image/bg2.jpg);
    background-size: cover;
    background-position: center;
}

.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;

}
.order h1 span{
    color: #fac031;
    margin-right: 15px;
    font-family: sans-serif;
}
.order h1 span::after{
    content:"";
    width: 100% ;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}
.order .order-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.order .order-main .order-image img{
    width: 600px;
}
.order .order-main  form{
display: grid;
grid-template-columns: 1fr 1fr ;
gap: 0 10px;
}
.order .order-main form .input p{
    line-height: 25px;
}
.order .order-main form .input{
margin: 5px;
}
 .order .order-main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
 }
 .order .order-main form .input input:focus{
    border: 2px solid #fac031;
 }
 .order .order-main form .order-btn{
    padding: 10px 0;
    background: #fac031;
    color: white;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
 }
 .team{
    width: 100%;
    height: 90vh;
    background-image: url(image/bg1.jpg);
    background-size: cover;
    background-position: center;
 }
 .team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
 }
 .team h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: sans-serif;
 }
 .team h1 span::after{
    content: "";
    width: 100%;
    height: 2px;
    background:#fac031;
    display: block;
    position: relative;
    bottom: 15px;
 }
 .team .team-box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
 }
 .team .team-box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
 }
 .team .team-box .profile:hover{
    border-radius: 20px;
    height: 320px;
 }
 .team .team-box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
 }
 .team .team-box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
 }
 .team .team-box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
 }
.team .team-box .profile:hover .info{
    top: 60%;
}
.team .team-box .profile .info .name{
    color: #fac031;
    margin-bottom: 15px;
}
.team .team-box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}
.team .team-box .profile .info .team-icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}
.team .team-box .profile .info .team-icon i:hover{
    color: #fac031;
} 
footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
}
footer .footer-main{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
}
 footer .footer-main .footer-tag{
    text-align: center;
 }
 footer .footer-main .footer-tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
 }
 footer .footer-main .footer-tag p{
    margin: 10px 0;

 }
 footer .footer-main .footer-tag i{
    margin: 0 5px;
    cursor: pointer;
 }
 footer .footer-main .footer-tag i:hover{
    color: #fac031;
 }